@CHARSET "ISO-8859-1";

@media screen{
@font-face{
    font-family: DIN_font;
    src: url(din-next-lt-arabic-black.ttf);
}
    html,
    body {
        display: contents;
        width: 100%;
        height: 100%;
    }
    #myVideo{
		position: absolute;
		right: 0;
		bottom: 0;
		top:0;
		width: 100%;
		height: 100%;
		background-size: 100% 100%;
 		background-color: black; /* in case the video doesn't fit the whole page*/
  		background-position: center center;
  		background-size: contain;
   		object-fit: cover; /*cover video background */
   		z-index:2;
	}
    video::-webkit-media-controls {
	  display:none !important;
	}

    
    #section0 .bigcontainer{
        position:absolute;
        display:contents;
        width:100%;
        height:100%;
        z-index:3;
    }

    .titulo{
        z-index:4;
        position:absolute;
        text-align:center;
        top:1%;
        
        
    }
    .name{
        
        width:80%;
        
    }
    #containers{
        width:100%;
        height:100%;
    }

    #containers .container1 {
        z-index:4;
        position:absolute;
        text-align: center;
        top:60%;
        
        
        
    }

    .art{
        top:10%;
        
        width:50%;
    }

    #containers .container2 {
        z-index:4;
        position:absolute;
       
        text-align:center;
        top:60%;
        
    }

   
    .mini{
        
        top:20%;
        width:10%
    }
      
    
    .dragging{
        pointer-events: none;
    }
    

}